**/build
**/native
/vtest
/install_result
/install_build
fetch_bass.py
glob_files.py
meson.build
bass/CMakeLists.txt
lib/bass/Bass.cpp
lib/bass/Channel.cpp
lib/bass/Plugin.cpp
lib/bass/Sample.cpp
lib/bass/Stream.cpp
lib/bass/utils.cpp
lib/bass/Bass.cpp
lib/bass/Channel.cpp
lib/bass/Plugin.cpp
lib/bass/Sample.cpp
lib/bass/Stream.cpp
lib/bass/utils.cpp
